@model Teknik.Areas.Accounts.ViewModels.TwoFactorViewModel

<script>
    var confirmAuthCodeURL = '@Url.SubRouteUrl("accounts", "Accounts.Action", new { action = "ConfirmAuthenticatorCode" })';
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>Two-factor authentication</h1>
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div id="authCheckStatus"></div>
                                </div>
                            </div>
                            <input name="ReturnUrl" id="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
                            <input name="RememberMe" id="RememberMe" type="hidden" value="@Model.RememberMe" />
                            <div class="form-group text-left">
                                <label for="update_website">Authentication code</label>
                                <input type="text" class="form-control" id="Code" name="Code" data-val-required="The Authentication Code is required." data-val="true" />
                            </div>
                            @if (Model.AllowTrustedDevice)
                            {
                            <div class="checkbox">
                                <label>
                                    <input id="RememberDevice" type="checkbox" value="true" name="RememberDevice" /><input name="RememberDevice" type="hidden" value="false"> Remember Device 
                                </label>
                            </div>
                            <small>Set this device as a trusted device for 30 days.  It is not advised to trust a public computer.</small>
                            <br />
                            <br />
                            }
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" id="verifyCodeSubmit" type="button" name="verifyCodeSubmit">Verify</button>
                            </div>
                            <p class="text-left">Open the two-factor authentication app on your device to view your authentication code and verify your identity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<bundle src="js/accounts.checkAuthCode.min.js" append-version="true"></bundle>