@model Teknik.Areas.Accounts.ViewModels.LoginViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>Teknik Login</h1>
                <div class="col-md-4 col-md-offset-4">
                    @await Html.PartialAsync("../../Areas/Accounts/Views/Accounts/Login", Model)
                </div>
            </div>
        </div>
    </div>
</div>