@using System.Diagnostics;
@using System.Reflection;

<footer id="footer" class="footer navbar navbar-default">
    <div class="container">
        @{
            Assembly assembly = ViewContext.Controller.GetType().Assembly;
            FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);
            string version = fileVersionInfo.ProductVersion;
        }
        <p class="text-muted">
            &copy; Teknik 2013-2015 | <a href="@Url.SubRouteUrl("privacy", "Privacy.Index")">Privacy</a> | <a href="@Url.SubRouteUrl("transparency", "Transparency.Index")">Transparency</a> | <a href="@Url.SubRouteUrl("server", "Server.Index")">Server</a>
            <br />
            @string.Format("{0}", version)
        </p>
    </div>
</footer>
