@using System.Diagnostics;
@using System.Reflection;

<footer id="footer" class="footer navbar navbar-default">
    <div class="container">
        @{
            Assembly assembly = ViewContext.Controller.GetType().Assembly;
            FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);
            string version = fileVersionInfo.ProductVersion;
        }
        <p class="text-muted">
            &copy; Teknik 2013-2015 | <a href="@Url.SubAction("privacy", "Index", "Privacy", new { area = "Privacy"})">Privacy</a> | <a href="@Url.SubAction("transparency", "Index", "Transparency", new { area = "Transparency" })">Transparency</a> | <a href="@Url.SubAction("server", "Index", "Server", new { area = "Server" })">Server</a>
            <br />
            @string.Format("{0}", version)
        </p>
    </div>
</footer>
