@using System.Diagnostics;
@using System.Reflection;
@using Teknik.Helpers;

<footer id="footer" class="footer navbar navbar-default">
    <div class="container">
        @{
            Assembly assembly = ViewContext.Controller.GetType().Assembly;
            FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);
            string fullVersion = fileVersionInfo.ProductVersion;
            string verNum = fullVersion.Split('+')[0];
            string commitStr = fullVersion.Split('+')[1];
            string commitVer = commitStr.Split('.')[0];
            string commitHash = commitStr.Split('.').Last();
        }
        <div class="row">
            <div class="col-md-6 text-left text-muted">
                &copy; Teknik 2013-2016 | <a href="@Url.SubRouteUrl("privacy", "Privacy.Index")">Privacy</a> | <a href="@Url.SubRouteUrl("transparency", "Transparency.Index")">Transparency</a>
            </div>
            <div class="col-md-6 text-right text-muted">
                <div id="pagetime" style="display:none;">
                    Gen: <b><span id="generatetime">0.0</span>ms</b> Load: <b><span id="loadtime">0.0</span>ms</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-muted">
                Version: @string.Format("{0}.{1}", verNum, commitVer) - Hash: <a href="http://git.teknik.io/Teknikode/Teknik/src/@commitHash">@commitHash.Truncate(10)</a>
            </div>
        </div>
    </div>
</footer>
