<footer id="footer" class="footer navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-right text-muted">
                &copy; Teknik 2013-2019&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://privacy.teknik.io/">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://tos.teknik.io/">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>