@model Teknik.Areas.Admin.ViewModels.DashboardViewModel

@using Teknik.Helpers

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <a href="@Url.SubRouteUrl("admin", "Admin.Search")">Search</a>
        </div>
    </div>
</div>