@model Teknik.Areas.Admin.ViewModels.DashboardViewModel

@using Teknik.Utilities

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <a href="@Url.SubRouteUrl("admin", "Admin.UserSearch")">User Search</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <a href="@Url.SubRouteUrl("admin", "Admin.UploadSearch")">Upload Search</a>
        </div>
    </div>
</div>
