@model Teknik.Areas.Admin.ViewModels.UploadSearchViewModel

<script>
    // We need to define the action URLs for the script
    var deleteDataURL = '@Url.SubRouteUrl("admin", "Admin.Action", new { action = "DeleteData" })';
    var homeUrl = '@Url.SubRouteUrl("admin", "Admin.UploadSearch")';
    var searchResultsURL = '@Url.SubRouteUrl("admin", "Admin.Action", new { action = "GetUploadSearchResults" })';
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!form>
                <div class="form-group center-block">
                    <input type="text" class="form-control" id="Query" name="Query" placeholder="Upload Url" />
                </div>
            </!form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="results" id="results"></div>
        </div>
    </div>
</div>

<bundle src="js/uploadSearch.min.js" append-version="true"></bundle>
