@model Teknik.Areas.Profile.ViewModels.RegisterViewModel

<form role="form" id="registrationForm" action="@Url.Action("profile", "Profile.Register")" method="post" accept-charset="UTF-8">
    <input name="ReturnUrl" id="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    <div class="form-group">
        <input type="text" class="form-control" id="Username" value="" placeholder="Username" name="Username" data-val-required="The Username field is required." data-val="true"/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="Password" value="" placeholder="Password" name="Password" data-val-required="The Password field is required." data-val="true"/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="ConfirmPassword" value="" placeholder="Confirm Password" name="ConfirmPassword" data-val-required="The Confirm Password field is required." data-val="true" />
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary" id="reg_submit" type="submit" name="submit">Sign Up</button>
    </div>
</form>