@model Teknik.Areas.Users.ViewModels.LoginViewModel

@if (Config.UserConfig.LoginEnabled)
{
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="loginStatus">
                @if (Model.Error)
                { 
                    <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>@Model.ErrorMessage</div>
                }
            </div>
        </div>
    </div>
    <!form id="loginForm" action="@Url.SubRouteUrl("user", "User.Login")" method="post" accept-charset="UTF-8">
        <input name="Login.ReturnUrl" id="loginReturnUrl" type="hidden" value="@Model.ReturnUrl" />
        <div class="form-group">
            <input type="text" class="form-control" id="loginUsername" value="" placeholder="Username" name="Login.Username" data-val-required="The Username field is required." data-val="true" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="loginPassword" value="" placeholder="Password" name="Login.Password" data-val-required="The Password field is required." data-val="true" />
        </div>
        <div class="checkbox">
            <label>
                <input id="loginRememberMe" type="checkbox" value="true" name="Login.RememberMe" data-val-required="The Remember Me field is required." data-val="true" /><input name="Login.RememberMe" type="hidden" value="false"> Remember Me
            </label>
        </div>
        @if (Config.UserConfig.PasswordResetEnabled)
        {
            <p class="text-center"><a href="@Url.SubRouteUrl("user", "User.ResetPassword")">Forgotten Password?</a></p>
        }
        <div class="form-group text-center">
            <button class="btn btn-primary" id="loginSubmit" type="submit" name="Login.Submit">Sign In</button>
        </div>
    </!form>
}
else
{
    <h3>User logins have been disabled</h3>
}
