@model Teknik.Areas.Users.ViewModels.ResetPasswordViewModel

@Scripts.Render("~/bundles/user")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>Reset Password</h1>
                <div class="col-md-4 col-md-offset-4">
                    <form role="form" id="reset_pass_send" action="@Url.SubRouteUrl("user", "User.Action", new { action = "SendResetPasswordVerification" })" method="post" accept-charset="UTF-8">
                        <div class="form-group">
                            <label for="reset_username">Username</label>
                            <input type="text" class="form-control" id="reset_username" value="@Model.Username" placeholder="Username" name="reset_username" />
                            <span id="helpBlock" class="help-block">Send a temporary link to your recovery email to reset your password.</span>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" id="reset_pass_send_submit" type="submit" name="reset_pass_send_submit">Send Reset Link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>