@model Teknik.Areas.Users.ViewModels.RegisterViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>Teknik Registration</h1>
                <div class="col-md-4 col-md-offset-4">
                    @await Html.PartialAsync("../../Areas/User/Views/User/Register", Model)
                </div>
            </div>
        </div>
    </div>
</div>