@model Teknik.Areas.Privacy.ViewModels.PrivacyViewModel

@using Teknik.Models
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h2>Public Information</h2>
            <p>
                The following information is publicly available.
            </p>
            <ul>
                <li>Email Address (username@(string.Format("@{0}", Model.Config.Host))</li>
                <li>Published Blog Posts</li>
                <li>Comments</li>
                <li>Uploads (Only if key is saved on server)</li>
                <li>Git Repositories</li>
                <li>Pastes without passwords</li>
                <li>User Profile</li>
                <ul>
                    <li>Registration Date</li>
                    <li>About</li>
                    <li>Website</li>
                    <li>Quote</li>
                </ul>
            </ul>
            <h2>Data We Collect</h2>
            <p>
                Teknik collects the following data when you use our services and is used only internally.
            </p>
            <ul>
                <li><var>User ID</var> - Your internal user ID is associated with any of the following actions while logged in:</li>
                <ul>
                    <li>Uploading Files</li>
                    <li>Pastes</li>
                    <li>Blog Posts + Comments</li>
                    <li>Podcast Comments</li>
                </ul>
                <li><var>Dates</var> - When you perform an action (ie: register an account), the date of the action will be recorded.</li>
                <li><var>Emails</var> - Any email you send or receive with your Teknik.io email address is stored locally onto the server.</li>
            </ul>
            <h2>Cookies We Store</h2>
            <p>
                While browsing we store the following cookies onto your machine.
            </p>
            <ul>
                <li><var>TeknikAuth</var> - Used for user authentication.</li>
            </ul>
        </div>
    </div>
</div>
