
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="google-site-verification" content="GMpJN2A-MI13weGMlj3OMTDuFzLTw9kRntfw3P9FLfY" />
    <title>View</title>
</head>
<body>
    <div> 
        Verification
    </div>
</body>
</html>
