@model Teknik.Areas.Billing.ViewModels.SubscriptionsViewModel

@{
    string extraUsage = null;
}

<div class="container">
    @if (Model.UploadSubscriptions.Any())
    {
        <h2 class="text-center">Upload Storage Subscriptions</h2>
        <p class="text-muted text-center">
            By subscribing to a Teknik Service plan, you agree to the <a href="@Url.SubRouteUrl("tos", "TOS.Index")">Teknik Terms of Service</a>.<br />
            <strong>Note:</strong> The <a href="@Url.SubRouteUrl("privacy", "Privacy.Index")">Teknik Privacy Policy</a> describes how data is handled in this service.
        </p>
        <br />
        <div class="row">
            @foreach (var subVM in Model.UploadSubscriptions)
            {
                if (subVM.MaxStorage != null)
                    extraUsage = $"If you need more than {StringHelper.GetBytesReadable(subVM.MaxStorage.Value)} of storage, please contact support for assistance.";

                @await Html.PartialAsync("../../Areas/Billing/Views/Billing/Subscription", subVM)
            }
        </div>
        @if (!string.IsNullOrEmpty(extraUsage))
        {
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <small>
                            * @extraUsage
                        </small>
                    </p>
                </div>
            </div>
        }
    }

    @if (Model.EmailSubscriptions.Any())
    {
        <br />
        <h2 class="text-center">Email Subscriptions</h2>
        <br />
        <div class="row">
            @foreach (var subVM in Model.EmailSubscriptions)
            {
                if (subVM.MaxStorage != null)
                    extraUsage = $"If you need more than {StringHelper.GetBytesReadable(subVM.MaxStorage.Value)} of storage, please contact support for assistance.";

                @await Html.PartialAsync("../../Areas/Billing/Views/Billing/Subscription", subVM)
            }
        </div>
    }
</div>