@model Teknik.Areas.Paste.ViewModels.PasswordViewModel

<div class="container">
    @if (Model.Error)
    {
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>@Model.ErrorMessage
                </div>
            </div>
        </div>
    }
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <!form class="form-inline" method="post" action="@Url.SubRouteUrl("paste", "Paste.View")">
                <h3>This paste is password protected</h3>
                <input type="hidden" name="type" value="@Model.Type">
                <input type="hidden" name="url" value="@Model.Url">
                <div class="well no-padding">
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </!form>
        </div>
    </div>
</div>
