@model Teknik.Areas.Paste.ViewModels.PasteViewModel

@{ 
    Layout = null;
    string format = Model.Syntax;
    string formatName = "Text";

    if (!string.IsNullOrEmpty(format) && HighlightHelper.Languages.ContainsKey(format))
    {
        formatName = HighlightHelper.Languages[format];
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="@Config.Description" />
    <meta name="author" content="@Config.Author" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <bundle src="css/paste.view.min.css" append-version="true"></bundle>
    <bundle src="css/paste.view.min.css" append-version="true"></bundle>
</head>
<body data-twttr-rendered="true">

    <pre class="line-numbers" id="code" style="border: none;"><code class="language-@(format)">@Model.Content</code></pre>
    
    <bundle src="js/common.min.js" append-version="true"></bundle>
    <bundle src="js/paste.view.min.js" append-version="true"></bundle>

    <script>
        $(document).ready(function () { pageloadDoTimer(); });
    </script>
</body>
</html>
