@model Teknik.IdentityServer.ViewModels.ErrorViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>Http Error</h1>
                <h2>Status Code: @Model.StatusCode</h2>
                <div class="error-details">
                    Sorry, an error has occured: @Model.Description
                </div>
            </div>
        </div>
    </div>
</div>

