@model Teknik.IdentityServer.ViewModels.ErrorViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h2>401 Unauthorized</h2>
                <div class="error-details">
                    The request has not been applied because it lacks valid authentication credentials for the target resource.
                </div>
            </div>
        </div>
    </div>
</div>

