@model Teknik.IdentityServer.ViewModels.ErrorViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>Uh Oh!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">
                    Unable to find the resource you are looking for.  Please contact an Administrator if you think this is in error.
                </div>
            </div>
        </div>
    </div>
</div>

