@model Teknik.IdentityServer.ViewModels.IdentityErrorViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>Identity Error Occured</h1>
                <h2>@Model.Title</h2>
                <div class="error-details">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>