{
    "env": {
        "browser": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-redeclare": [
            "error",
            { "builtinGlobals": false }
        ]
    },
    "globals": {
        // Libraries
        "jQuery": "readonly",
        "$": "readonly",
        "_": "readonly",
        "bootbox": "readonly",
        "marked": "readonly",
        "sanitizeHtml": "readonly",
        "Highcharts": "readonly",
        "saveAs": "readonly",
        "importScripts": "readonly",
        "CryptoJS": "readonly",
        "Uint8Array": "readonly",
        "Oidc": "readonly",

        // Common.js Functions
        "deleteConfirm": "readonly",
        "disableButton": "readonly",
        "enableButton": "readonly",
        "removeAmp": "readonly",
        "clearInputs": "readonly",
        "randomString": "readonly",
        "getFileExtension": "readonly",
        "SelectAll": "readonly",
        "getAnchor": "readonly",
        "GenerateBlobURL": "readonly",
        "AddAntiForgeryToken": "writable",
        "copyTextToClipboard": "readonly",
        "getReadableBandwidthString": "readonly",
        "getReadableFileSizeString": "readonly",
        "moveUp": "readonly",
        "moveDown": "readonly",
        "addParamsToUrl": "readonly",
        "sleep": "readonly",
        "parseErrorMessage": "readonly",
        "isValidURL": "readonly",
        "pageloadTimerCount": "readonly",
        "pageloadDoTimer": "readonly",
        "pageloadStopTimer": "readonly",

        // Common variables
        "oidcConfig": "readonly"
    }
}