@model List<Teknik.Areas.Status.ViewModels.OneTimeViewModel>

@using Teknik.Areas.Status.ViewModels

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col-sm-12">
            <h3>One Time Payments</h3>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#oneTime-section">View Payments</button>
                </div>
            </div>
            <br />
            <div id="oneTime-section" class="collapse in">
                <table class="table table-condensed table-bordered table-hover">
                    <tr>
                        <th><strong>Date</strong></th>
                        <th><strong>Amount</strong></th>
                        <th><strong>Reason for Payment</strong></th>
                    </tr>
                    @foreach (OneTimeViewModel oneTime in Model)
                    {
                        <tr>
                            <td>@oneTime.DateSent.ToString("MMMM dd, yyyy")</td>
                            <td>@oneTime.Amount <var>@oneTime.Currency.ToString()</var></td>
                            <td>@oneTime.Reason</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}