@{
    ViewData["Title"] = "Account Banned";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <header>
                <h2 class="text-danger">@ViewData["Title"]</h2>
                <p class="text-danger">This account has been banned.</p>
            </header>
        </div>
    </div>
</div>