@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>
                You are now logged out
            </h2>

            @if (Model.PostLogoutRedirectUri != null)
            {
                <div>
                    Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
                    <span>@Model.ClientName</span> application.
                </div>
            }

            @if (Model.SignOutIframeUrl != null)
            {
                <iframe width="0" height="0" style="width:0; height:0; border:0; border:none" class="signout" src="@Model.SignOutIframeUrl"></iframe>
            }
        </div>
    </div>
</div>

@if (Model.AutomaticRedirectAfterSignOut)
{
    <bundle src="js/signout-redirect.min.js" append-version="true"></bundle>
}
