<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" userInstalled="true" />
  <package id="bootstrap" version="3.3.7" targetFramework="net452" userInstalled="true" />
  <package id="Bootstrap.Flat" version="3.3.4" targetFramework="net452" />
  <package id="Bootstrap.Switch" version="3.3.2.1" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" userInstalled="true" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net462" userInstalled="true" />
  <package id="GitVersionTask" version="3.6.5" targetFramework="net462" developmentDependency="true" />
  <package id="Inferno" version="1.4.0" targetFramework="net452" userInstalled="true" />
  <package id="jQuery" version="3.1.1" targetFramework="net452" userInstalled="true" />
  <package id="jQuery.Validation" version="1.16.0" targetFramework="net462" userInstalled="true" />
  <package id="MarkdownDeep.Full" version="1.5" targetFramework="net452" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net452" />
  <package id="MarkdownHelper" version="1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" userInstalled="true" />
  <package id="Modernizr" version="2.8.3" targetFramework="net452" userInstalled="true" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="NBitcoin" version="3.0.2.4" targetFramework="net462" />
  <package id="nClam" version="2.0.6.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Piwik.Tracker" version="2.16.0.0" targetFramework="net452" />
  <package id="QRCoder" version="1.2.3" targetFramework="net462" />
  <package id="Respond" version="1.4.2" targetFramework="net452" userInstalled="true" />
  <package id="Teknik.Pygments" version="2.0.2.3" targetFramework="net462" />
  <package id="TwoStepsAuthenticator" version="1.2.0" targetFramework="net452" />
  <package id="WebGrease" version="1.6.0" targetFramework="net46" userInstalled="true" />
</packages>