<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="App_Data\ConnectionStrings.config" />
  <!-- Create ConnectionStrings.config and add your connection string node-->
  <!-- 
  <connectionStrings>
    <add name="TeknikEntities"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=<server name>,<port>\<sql server name>;Initial Catalog=<database>;Integrated Security=False;User Id=<username>;Password=<password>" />
  </connectionStrings>
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <machineKey configSource="App_Data\MachineKey.config" />
    <!-- Create MachineKey.config and add your machine keys-->
    
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms domain=".teknik.io" protection="All" enableCrossAppRedirects="true" name="TeknikAuth" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" maxRequestLength="1048576" executionTimeout="3600" relaxedUrlToFileSystemMapping="true" />
    <pages buffer="true" enableViewState="false" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="PerfModule" type="Teknik.Modules.PerformanceMonitorModule, Teknik" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
    </staticContent>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <httpCompression cacheControlHeader="max-age=86400" noCompressionForHttp10="false" noCompressionForProxies="false" sendCacheHeaders="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <hiddenSegments>
          <remove segment="App_Browsers" />
          <remove segment="App_Data" />
          <remove segment="App_WebReferences" />
          <remove segment="App_LocalResources" />
          <remove segment="App_GlobalResources" />
          <remove segment="App_code" />
          <remove segment="bin" />
          <remove segment="web.config" />
        </hiddenSegments>
        <fileExtensions>
          <remove fileExtension=".webinfo" />
          <remove fileExtension=".vsdisco" />
          <remove fileExtension=".vjsproj" />
          <remove fileExtension=".vbproj" />
          <remove fileExtension=".vb" />
          <remove fileExtension=".ssmap" />
          <remove fileExtension=".ssdgm" />
          <remove fileExtension=".skin" />
          <remove fileExtension=".sitemap" />
          <remove fileExtension=".sdmDocument" />
          <remove fileExtension=".sdm" />
          <remove fileExtension=".sd" />
          <remove fileExtension=".rules" />
          <remove fileExtension=".resx" />
          <remove fileExtension=".resources" />
          <remove fileExtension=".refresh" />
          <remove fileExtension=".msgx" />
          <remove fileExtension=".mdf" />
          <remove fileExtension=".mdb" />
          <remove fileExtension=".master" />
          <remove fileExtension=".lsaprototype" />
          <remove fileExtension=".lsad" />
          <remove fileExtension=".licx" />
          <remove fileExtension=".ldf" />
          <remove fileExtension=".lddprototype" />
          <remove fileExtension=".ldd" />
          <remove fileExtension=".ldb" />
          <remove fileExtension=".jsl" />
          <remove fileExtension=".java" />
          <remove fileExtension=".exclude" />
          <remove fileExtension=".dsprototype" />
          <remove fileExtension=".dsdgm" />
          <remove fileExtension=".dd" />
          <remove fileExtension=".csproj" />
          <remove fileExtension=".cs" />
          <remove fileExtension=".config" />
          <remove fileExtension=".compiled" />
          <remove fileExtension=".cd" />
          <remove fileExtension=".browser" />
          <remove fileExtension=".ascx" />
          <remove fileExtension=".asax" />
          <remove fileExtension=".asa" />
          <remove fileExtension=".adprototype" />
          <remove fileExtension=".ad" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Authorization, Accept, Origin, Content-Type, X-Requested-With" />
        <add name="strict-transport-security" value="max-age=31536000; includeSubdomains" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>