@model Teknik.Areas.Error.ViewModels.ErrorViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>Sorry Bud!</h1>
                <h2>403 Access Denied</h2>
                <div class="error-details">
                    You do not have access to this resource.  Please contact an Administrator if you think this is an error.
                </div>
                <br />
                <div class="error-actions">
                    <a href="@Url.SubRouteUrl("www", "Home.Index")" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                    <a href="@Url.SubRouteUrl("contact", "Contact.Index")" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-envelope"></span> 
                        Contact Support 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

