@model Teknik.Areas.Transparency.ViewModels.TransparencyViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2 class="text-center"><b>Behind the Scenes</b></h2>
            <hr>
            <p>
                Here you can view all of Teknik's financial information, takedown requests and the actions we took, as well as some general statistics for the site's services.
            </p>
            <p>
                If you would like to request additional information about Teknik, please feel free to contact us through our <a href="@Url.SubRouteUrl("contact", "Contact.Index")" target="_blank">Contact Form</a> or by emailing us at <a href="mailto:@Model.Config.SupportEmail">@Model.Config.SupportEmail</a>.
            </p>
            <p>
                Want to make a donation?  Visit our <a href="@Url.SubRouteUrl("about", "About.Index")" target="_blank">About Page</a> and choose a donation method at the bottom.
            </p>
            <br />
            <h2 class="text-center"><b>Statistics</b></h2>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Uploads</h3>
                    <p>Number of Uploads: <?php echo count($upload_list); ?></p>
                    <p>Total Size: <?php echo bytesToSize($total_size['TotalSize']); ?></p>
                </div>
                <div class="col-sm-6">
                    <h3>Pastes</h3>
                    <p>Number of Pastes: <?php echo $paste_list[0]['pid']; ?></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Users</h3>
                    <p>Number of Users: <?php echo count($user_list); ?></p>
                </div>
                <div class="col-sm-6">
                    <h3>Usage</h3>
                    <p>No Usage Reports</p>
                </div>
            </div>
            <br />
            <h2 class="text-center"><b>Transactions</b></h2>
            <hr>
            <h3 class="text-center">Total Amounts</h3>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <h4>Donations</h4>
                    <?php
                    foreach ($total_donation_list as $total)
                    {
                    echo "<p>
                        ".round($total['TotalAmount'], 2)." ".$total['currency'];
                        }
                        ?>
                </div>
                <div class="col-sm-3 text-center">
                    <h4>Bills</h4>
                    <?php
                    foreach ($total_bill_list as $total)
                    {
                    echo "<p>
                        ".round($total['TotalAmount'], 2)." ".$total['currency'];
                        }
                        ?>
                </div>
                <div class="col-sm-3 text-center">
                    <h4>One-Time Payments</h4>
                    <?php
                    foreach ($total_one_time_list as $total)
                    {
                    echo "<p>
                        ".round($total['TotalAmount'], 2)." ".$total['currency'];
                        }
                        ?>
                </div>
                <div class="col-sm-3 text-center">
                    <h4>Net Profit</h4>
                    <?php
                    foreach ($total_net_list as $total)
                    {
                    echo "<p>
                        ".round($total['TotalAmount'], 2)." ".$total['currency'];
                        }
                        ?>
                </div>
            </div>
            <?php
            if ($transactions_bills)
            {
            ?>
            <h3>Bills</h3>
            <?php
            $current_month = null;
            $first_event = true;
            foreach ($transaction_bill_list as $transaction)
            {
            $transaction_date = (isset($transaction['date_posted'])) ? $transaction['date_posted'] : "";
            $transaction_reason = (isset($transaction['reason'])) ? $transaction['reason'] : "";
            $transaction_amount = (isset($transaction['amount'])) ? $transaction['amount'] : "";
            $transaction_currency = (isset($transaction['currency'])) ? $transaction['currency'] : "";

            $new_month_tag = false;
            if ($current_month != date("F",strtotime($transaction_date)) || $current_year != date("Y",strtotime($transaction_date)))
            {
            $new_month_tag = true;
            }
            $current_month = date("F",strtotime($transaction_date));
            $current_year = date("Y",strtotime($transaction_date));
            ?>
            <?php if (!$first_event && $new_month_tag) { ?>
        </div>
        <?php } ?>
        <?php if ($new_month_tag) { ?>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#bills-<?php echo $current_month.'-'.$current_year; ?>"><?php echo $current_month.', '.$current_year; ?></button>
            </div>
        </div>
        <br />
        <div id="bills-<?php echo $current_month.'-'.$current_year; ?>" class="collapse">
            <div class="row">
                <div class="col-sm-2">
                    <h4><strong>Date</strong></h4>
                </div>
                <div class="col-sm-2">
                    <h4><strong>Amount</strong></h4>
                </div>
                <div class="col-sm-8">
                    <h4><strong>Reason for Transaction</strong></h4>
                </div>
            </div>
            <?php } ?>
            <div class="row">
                <div class="col-sm-2">
                    <?php echo $transaction_date; ?>
                </div>
                <div class="col-sm-2">
                    <?php echo $transaction_amount." <var>".$transaction_currency."</var>"; ?>
                </div>
                <div class="col-sm-8">
                    <?php echo $transaction_reason; ?>
                </div>
            </div>
            <br />
            <?php
            $first_event = false;
            }
            ?>
        </div>
        <?php
        }

        if ($transactions_one_time)
        {
        ?>
        <h3>One-Time Payments</h3>
        <?php
        $current_month = null;
        $first_event = true;
        foreach ($transaction_one_time_list as $transaction)
        {
        $transaction_date = (isset($transaction['date_posted'])) ? $transaction['date_posted'] : "";
        $transaction_reason = (isset($transaction['reason'])) ? $transaction['reason'] : "";
        $transaction_amount = (isset($transaction['amount'])) ? $transaction['amount'] : "";
        $transaction_currency = (isset($transaction['currency'])) ? $transaction['currency'] : "";

        $new_month_tag = false;
        if ($current_month != date("F",strtotime($transaction_date)) || $current_year != date("Y",strtotime($transaction_date)))
        {
        $new_month_tag = true;
        }
        $current_month = date("F",strtotime($transaction_date));
        $current_year = date("Y",strtotime($transaction_date));
        ?>
        <?php if (!$first_event && $new_month_tag) { ?>
    </div>
    <?php } ?>
    <?php if ($new_month_tag) { ?>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#One-Time-<?php echo $current_month.'-'.$current_year; ?>"><?php echo $current_month.' - '.$current_year; ?></button>
        </div>
    </div>
    <br />
    <div id="One-Time-<?php echo $current_month.'-'.$current_year; ?>" class="collapse">
        <div class="row">
            <div class="col-sm-2">
                <h4><strong>Date</strong></h4>
            </div>
            <div class="col-sm-2">
                <h4><strong>Amount</strong></h4>
            </div>
            <div class="col-sm-8">
                <h4><strong>Reason for Transaction</strong></h4>
            </div>
        </div>
        <?php } ?>
        <div class="row">
            <div class="col-sm-2">
                <?php echo $transaction_date; ?>
            </div>
            <div class="col-sm-2">
                <?php echo $transaction_amount." <var>".$transaction_currency."</var>"; ?>
            </div>
            <div class="col-sm-8">
                <?php echo $transaction_reason; ?>
            </div>
        </div>
        <br />
        <?php
        $first_event = false;
        }
        ?>
    </div>
    <?php
    }

    if ($transactions_donations)
    {
    ?>
    <h3>Donations</h3>
    <?php
    $current_month = null;
    $first_event = true;
    foreach ($transaction_donation_list as $transaction)
    {
    $transaction_date = (isset($transaction['date_posted'])) ? $transaction['date_posted'] : "";
    $transaction_reason = (isset($transaction['reason'])) ? $transaction['reason'] : "";
    $transaction_amount = (isset($transaction['amount'])) ? $transaction['amount'] : "";
    $transaction_currency = (isset($transaction['currency'])) ? $transaction['currency'] : "";

    $new_month_tag = false;
    if ($current_month != date("F",strtotime($transaction_date)) || $current_year != date("Y",strtotime($transaction_date)))
    {
    $new_month_tag = true;
    }
    $current_month = date("F",strtotime($transaction_date));
    $current_year = date("Y",strtotime($transaction_date));
    ?>
    <?php if (!$first_event && $new_month_tag) { ?>
</div>
            <?php } ?>
            <?php if ($new_month_tag) { ?>
<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#donations-<?php echo $current_month.'-'.$current_year; ?>"><?php echo $current_month.' - '.$current_year; ?></button>
    </div>
</div>
<br />
<div id="donations-<?php echo $current_month.'-'.$current_year; ?>" class="collapse">
    <div class="row">
        <div class="col-sm-2">
            <h4><strong>Date</strong></h4>
        </div>
        <div class="col-sm-2">
            <h4><strong>Amount</strong></h4>
        </div>
        <div class="col-sm-8">
            <h4><strong>Reason for Transaction</strong></h4>
        </div>
    </div>
    <?php } ?>
    <div class="row">
        <div class="col-sm-2">
            <?php echo $transaction_date; ?>
        </div>
        <div class="col-sm-2">
            <?php echo $transaction_amount." <var>".$transaction_currency."</var>"; ?>
        </div>
        <div class="col-sm-8">
            <?php echo $transaction_reason; ?>
        </div>
    </div>
    <br />
    <?php
    $first_event = false;
    }
    ?>
</div>
            <?php
        }
        ?>
<br />
<h2 class="text-center"><b>Takedowns</b></h2>
<hr>
       <?php
        if ($takedown_list)
        {
            $current_month = date("F",time())+1;
            $first_event = true;
            foreach ($takedown_list as $takedown)
            {
              $takedown_date = (isset($takedown['date_requested'])) ? $takedown['date_requested'] : "";
              $takedown_requester = (isset($takedown['requester'])) ? $takedown['requester'] : "";
              $takedown_reason = (isset($takedown['reason'])) ? $takedown['reason'] : "";
              $takedown_action = (isset($takedown['action'])) ? $takedown['action'] : "";

              $new_month_tag = false;
              if ($current_month != date("F",strtotime($takedown_date)))
              {
                $new_month_tag = true;
              }
              $current_month = date("F",strtotime($takedown_date));
              $current_year = date("Y",strtotime($takedown_date));
            ?>
            <?php if (!$first_event && $new_month_tag) { ?>
              </div>
            <?php } ?>
            <?php if ($new_month_tag) { ?>
<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#donations-<?php echo $current_month.'-'.$current_year; ?>"><?php echo $current_month.' - '.$current_year; ?></button>
    </div>
</div>
<br />
<div id="donations-<?php echo $current_month.'-'.$current_year; ?>" class="collapse">
    <div class="row">
        <div class="col-sm-2">
            <h4><strong>Date</strong></h4>
        </div>
        <div class="col-sm-2">
            <h4><strong>Requester</strong></h4>
        </div>
        <div class="col-sm-2">
            <h4><strong>Action Taken</strong></h4>
        </div>
        <div class="col-sm-6">
            <h4><strong>Takedown Reason</strong></h4>
        </div>
    </div>
    <?php } ?>
    <div class="row">
        <div class="col-sm-2">
            <p><?php echo $takedown_date; ?></p>
        </div>
        <div class="col-sm-2">
            <p><?php echo $takedown_requester; ?></p>
        </div>
        <div class="col-sm-2">
            <p><?php echo $takedown_action; ?></p>
        </div>
        <div class="col-sm-6">
            <?php echo $takedown_reason; ?>
        </div>
    </div>
    <br />
    <?php
    $first_event = false;
    }
    ?>
</div>
            <?php
        }
        else
        {
          echo "<h3 class='text-center'>No Takedowns Requested</h3>";
        }
        ?>
<br />
    </div>
  </div>
</div>