@model Teknik.Areas.TOS.ViewModels.TOSViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h2>Terms of Service for Teknik Services</h2>
            <p>
                Below are the terms of service for the Teknik Services.  By using our services, you agree to all of the below.  These terms may change at any time.
            </p>
            <h3>User Accounts</h3>
            <ul>
                <li>You will not display or host links to Malware in your user profile</li>
                <li>
                    Inactive Basic Accounts with no data may be deleted after 365 days (1 Year)
                    <ul>
                        <li>Activity is defined as logging into the Teknik Website, into the Git website, into the mail service (Either through webmail or via another client), or Modifying/Adding a Git Repository</li>
                        <li>Data is defined as Blog Posts/Comments, Podcast Comments, Emails, and Git Repositories</li>
                    </ul>
                </li>
                <li>Creating multiple accounts to get around account limits will result in the account(s) being banned without notice</li>
                <li>If your account has been banned, and you create a new account to get around said ban, the new account will be banned without notice</li>
            </ul>
            <h3>Subscriptions</h3>
            <ul>
                <li>Puchasing a subscription will apply the benifits to a single account for the lifetime of the subscription</li>
                <li>If benifits are added for a subscription, all existing subscribers will inherit the new benifits</li>
                <li>Subscription benifits may change at any time</li>
                <li>Any benifits applied to an account will stay for the lifetime of the subscription</li>
            </ul>
            <h3>Refund Policy</h3>
            <ul>
                <li>You may recieve a full refund within 10 days of purchase</li>
                <li>You may only request a refund once per account</li>
                <li>The price for a subscription can change at any time.  You will not recieve a refund for the change in price</li>
                <li>If the account is terminated for breaching the Terms of Service, no refund will be available</li>
                <li>If a refund is given, all benifits for an account will be removed to match the current Free Account level</li>
            </ul>
            <h3>Email</h3>
            <ul>
                <li>Email is limited to a maximum of 100 outbound email messages per day.  This is to prevent spam accounts.  If your account is flagged as spamming, it will be banned without notice</li>
            </ul>
            <h3>
                Services<br />
                <small>This includes but does not limit to: Uploads, Pastes, Vaults, Blogging, and Shortened URLs</small>
            </h3>
            <ul>
                <li>This site may contain material your region may consider illegal.  If you are viewing content, be mindful of the laws in your region</li>
                <li>Any content containing or linking to malware/phishing sites will be removed without notice</li>
                <li>Copyrighted or Personal content will only be removed if it is deemed necessary for a person(s) safety</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            @{
                string gitHost = Config.GitConfig.Host;
                string gitFullUrl = string.Empty;
                if (!string.IsNullOrEmpty(gitHost))
                {
                    Uri gitUrl = new Uri(gitHost);
                    gitUrl = new Uri(gitUrl, "Teknikode/Teknik/commits/master/Teknik/Areas/TOS/Views/TOS/Index.cshtml");
                    gitFullUrl = gitUrl.ToString();
                }
            }
            <p><i>Last Modified January 20, 2020 - <a href="@gitFullUrl">View History</a></i></p>
        </div>
    </div>
</div>
