@model Teknik.Areas.TOS.ViewModels.TOSViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h2>Terms of Service for Teknik Services</h2>
            <p>
                Below are the terms of service for the Teknik Services.  By using our services, you agree to all of the below.
            </p>
            <ul>
                <li>No illegal content as defined by United States law.  If you are viewing content, be mindful of the laws in your region.</li>
                <li>Any Malware uploads or otherwise hosted/linked content will be removed without notice.</li>
                <li>Email is limited to a maximum of 100 outbound email messages per day.  This is to prevent spam accounts.  If your account is flagged as spamming, it will be deleted without notice.</li>
                <li>Copyrighted content will be removed only after a valid DMCA is recieved and verified.</li>
                <li>Inactive Accounts with no data will be deleted after 365 days (1 Year).
                    <ul>
                        <li>Activity is defined as logging into the Teknik Website, into the Git website, into the mail service (Either through webmail or via another client), or Modifying/Adding a Git Repository.</li>
                        <li>Data is defined as Blog Posts/Comments, Podcast Comments, Emails, and Git Repositories.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <p><i>Last Modified May 19, 2016</i></p>
        </div>
    </div>
</div>
