@using Teknik.Utilities
@model Teknik.Areas.Abuse.ViewModels.AbuseViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h2>Abuse Prevention</h2>
            <p>
                The Teknik Abuse Team makes sure to act quickly on all notifications it receives. All notifications received are evaluated by Teknik's Abuse Team, and processed with consideration of the sender's notification and Tekniks <a href="@Url.SubRouteUrl("tos", "TOS.Index")">Terms of Service</a>.
            </p>
            <h3>How to submit an Abuse Notification?</h3>
            <p>
                You can submit a notification to the Teknik Abuse Team by the way of email.  Only reports sent by email in the correct format will be accepted.
            </p>
            <p>
                Teknik Abuse Team: <a href="mailto:abuse@teknik.io">abuse@teknik.io</a>
            </p>
            <h3>Requirements for Notifications</h3>
            <p>
                Please follow the requirements stated below when submitting a notification about content hosted and/or transmitted on Teknik. It is imperative that you follow these guidelines; non-compliance may result in a delayed or faulty processing of your notification.
            </p>
            <ul>
                <li>Ensure that the notification is submitted in plain text.</li>
                <li>Submit the notification in English language.</li>
                <li>Send the abuse notification to the correct email address.</li>
                <li>Do not send any notifications from a NO-REPLY email address.</li>
                <li>Include your name, address, telephone number and email address.</li>
                <li>The notification should reference a static URL that from where the reported content is located or from which the reported conduct occurred. This URL should resolve to the Teknik IP address.</li>
                <li>Only include URLs or domains in your abuse notification for which you are seeking resolution.</li>
                <li>Provide a description of the content or conduct that you wish to report and why this is infringing your rights or violating applicable law or the applicable Acceptable Use Policy.</li>
                <li>For trademark infringement notifications: the registration details (including registration number) for the infringed trademark.</li>
                <li>For copyright infringement, please include a description of the copyrighted work you claim has been infringed, including a copy of the copyrighted work or the web page address where the copyrighted work may be found.</li>
                <li>For hacking, (D)Dos and malicious software: a description of the illegal activities, including date and timestamp, the IP address of servers that are subject of the illegal activities, the destination port, source port and log files.</li>
                <li>Include one of the following key words in the body of your notification: [Child Abuse] [Copyright] [Trademark] [Phishing] [DDOS] [Spam] [Hack] [Malware] [Defamation] [Personal Data]</li>
                <li>An electronic or physical signature of a person authorized to act on behalf of the owner of the copyright allegedly infringed.</li>
                <li>A statement by you that you have a good faith belief that the disputed use of the material at issue is not authorized by the copyright owner, the agent of the copyright owner or the law.</li>
                <li>A statement by you that the information in this notification is accurate and a statement, under penalty of perjury, that you are the copyright owner of the material allegedly infringed or authorized to act on the copyright owner's behalf.</li>
            </ul>
        </div>
    </div>
</div>
