@model Teknik.Areas.Help.ViewModels.HelpViewModel

<div class="container">
    <div class="row">
        <h2><b>Blogging</b></h2>
        <hr>
        <h3>Formatting</h3>
        <p>
            Each article uses a basic Markdown formatter to display the information.  Any Html or script information will be stripped from the post before displaying.
        </p>
    </div>
</div>
