@model Teknik.Areas.Help.ViewModels.HelpViewModel

<div class="container">
    <div class="row">
        <h2><b>Git</b></h2>
        <hr>
        <h3>Authorization</h3>
        <p>
            To login into your git account, you will initially need to initially use your teknik email address to login using the web interface.  Once you have done so at least once, you can from then on use your teknik username.
        </p>
    </div>
</div>
