@model Teknik.Areas.Help.ViewModels.HelpViewModel

@using Teknik.Utilities

<div class="container">
    <ol class="breadcrumb">
        <li><a href="@Url.SubRouteUrl("help", "Help.Index")">Help Index</a></li>
        <li class="active"><a href="#">IRC Network</a></li>
    </ol>
    <div class="row">
        <h2><b>IRC</b></h2>
        <hr>
        <h3>IRC Server Info</h3>
        <p>
            You can connect to the Teknik IRC using any RFC compliant client by connecting to <b>irc.@Model.Config.Host</b> on port <b>6667</b>.
        </p>
        <h3>Channel Information</h3>
        <p>
            The main channel for Teknik support is located at #teknik.
        </p>
    </div>
</div>
