@model Teknik.Areas.Help.ViewModels.HelpViewModel

<div class="container">
    <div class="row">
        <h2><b>Mumble</b></h2>
        <hr>
        <h3>Mumble Server Info</h3>
        <p>
            You can connect to the Mumble server by connecting to <b>mumble.@Model.Config.Host</b> on port <b>64738</b>.
        </p>
    </div>
</div>
