@model Teknik.Areas.Help.ViewModels.HelpViewModel

<div class="container">
    <div class="row">
        <h2><b>RSS</b></h2>
        <hr>
        <h3>RSS Info</h3>
        <p>
            RSS feeds are available for the Teknik Podcasts, Site Blog, and individual User Blogs.
        </p>
    </div>
</div>
