@model Teknik.Areas.Help.ViewModels.HelpViewModel

<div class="container">
    <ol class="breadcrumb">
        <li><a href="@Url.SubRouteUrl("help", "Help.Index")">Help Index</a></li>
        <li class="active"><a href="#">Tools</a></li>
    </ol>
    <div class="row">
        <h2 class="text-center"><b>Tools Utilizing Teknik Services</b></h2>
        <hr>
        <p class="text-center">
            There are a multitude of internally developed tools and 3rd party tools that utilize the Teknik services.
        </p>

        <h3 class="text-center">Internal Tools</h3>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="text-center">Uploads</h4>
                <div class="list-group">
                    <a class="list-group-item" href="https://git.teknik.io/Teknikode/Tools/src/master/Upload/teknik.sh">
                        <h4 class="list-group-item-heading">Upload Script</h4>
                        <p class="list-group-item-text">Upload files/scrots/urls to teknik using Bash</p>
                    </a>
                    <a class="list-group-item" href="https://git.teknik.io/Teknikode/Tools/src/master/Upload/upload.sh">
                        <h4 class="list-group-item-heading">File Upload</h4>
                        <p class="list-group-item-text">Bash script for uploading multiple files</p>
                    </a>
                </div>

                <h4 class="text-center">Pastes</h4>
                <div class="list-group">
                    <a class="list-group-item" href="https://git.teknik.io/Teknikode/Tools/src/master/Paste/paste.sh">
                        <h4 class="list-group-item-heading">Paste Script</h4>
                        <p class="list-group-item-text">Bash script for creating a paste from text</p>
                    </a>
                </div>

                <h4 class="text-center">Web Extensions</h4>
                <div class="list-group">
                    <a class="list-group-item" href="https://git.teknik.io/Teknikode/Teknik-Extension">
                        <h4 class="list-group-item-heading">Teknik Services Extender (Source)</h4>
                        <p class="list-group-item-text">Web Extension to allow easy access to Teknik Services</p>
                    </a>
                    <a class="list-group-item" href="https://addons.mozilla.org/en-US/firefox/addon/teknik-services-extender/">
                        <h4 class="list-group-item-heading">Teknik Services Extender (Firefox)</h4>
                        <p class="list-group-item-text">Web Extension to allow easy access to Teknik Services</p>
                    </a>
                    <a class="list-group-item" href="https://chrome.google.com/webstore/detail/teknik-services-extender/cobndagbkfejofcncmmalpcgoofmkced">
                        <h4 class="list-group-item-heading">Teknik Services Extender (Chrome)</h4>
                        <p class="list-group-item-text">Web Extension to allow easy access to Teknik Services</p>
                    </a>
                </div>

                <h4 class="text-center">Hexchat</h4>
                <div class="list-group">
                    <a class="list-group-item" href="https://git.teknik.io/Teknikode/Tools/src/master/Hexchat">
                        <h4 class="list-group-item-heading">Hexchat Addons</h4>
                        <p class="list-group-item-text">Addon python scripts to allow easy interaction with the Teknik Services</p>
                    </a>
                </div>
            </div>
        </div>

        <h3 class="text-center">3rd Party Tools</h3>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="list-group">
                    <a class="list-group-item" href="https://git.teknik.io/danthebeastman/tekup">
                        <h4 class="list-group-item-heading">Tekup</h4>
                        <p class="list-group-item-text">Bash script that uploads both text files to Paste and other files to Upload. Includes API support and logging.</p>
                    </a>
                    <a class="list-group-item" href="https://github.com/ShareX/ShareX">
                        <h4 class="list-group-item-heading">ShareX</h4>
                        <p class="list-group-item-text">Screen capture, file sharing and productivity tool</p>
                    </a>
                    <a class="list-group-item" href="https://github.com/jschx/uguush">
                        <h4 class="list-group-item-heading">Uguush</h4>
                        <p class="list-group-item-text">Command-line uploader for teknik uploads</p>
                    </a>
                    <a class="list-group-item" href="https://github.com/dylanaraps/neofetch">
                        <h4 class="list-group-item-heading">Neofetch</h4>
                        <p class="list-group-item-text">A fast, highly customizable system info script with support to upload screenshots</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
